<!DOCTYPE html>
<html>
<head>
    <title>Add Medicine</title>
</head>
<body>

<h2>Add Medicine</h2>

<form method="POST">
    {% csrf_token %}

    {% for name, field in serializer.fields.items %}
        <p>
            <label>{{ name|capfirst }}</label><br>
            <input type="text" name="{{ name }}" value="{{ serializer.initial_data.name|default:'' }}">
        </p>
    {% endfor %}

    <button type="submit">Save</button>
</form>

<a href="{% url 'orders:dashboard' %}">dashboard</a>

</body>
</html>