{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Stock</title>
</head>
<body>

<h2>Add Stock</h2>

<form method="POST">
    {% csrf_token %}

    <p>
        <label>Medicine</label><br>
        <select name="medicine">
    {% for med in serializer.fields.medicine.queryset %}
        <option value="{{ med.id }}">{{ med.medicine_name }} ({{ med.potency }})</option>
    {% endfor %}
</select>
    </p>

    <p>
        <label>Quantity</label><br>
        <input type="number" name="quantity">
    </p>

    <button type="submit">Save</button>
</form>

<a href="{% url 'products:stock_list' %}">Back</a>

</body>
</html>
{% endblock %}