<!DOCTYPE html>
<html>
<head>
    <title>Edit Medicine</title>
</head>
<body>

<h2>Edit Medicine</h2>

<form method="POST">
    {% csrf_token %}

    <label>Medicine Name:</label><br>
    <input type="text" name="medicine_name" value="{{ medicine.medicine_name }}"><br><br>

    <label>Potency:</label><br>
    <input type="text" name="potency" value="{{ medicine.potency }}"><br><br>

    <label>Cost Price:</label><br>
    <input type="text" name="cost_price" value="{{ medicine.cost_price }}"><br><br>

    <label>Selling Price:</label><br>
    <input type="text" name="selling_price" value="{{ medicine.selling_price }}"><br><br>

    <label>Expiry Date:</label><br>
    <input type="date" name="expiry_date" value="{{ medicine.expiry_date }}"><br><br>

    <button type="submit">Update</button>

</form>

<br>
<a href="{% url 'orders:dashboard' %}">Back</a>

</body>
</html>