{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Medicine</title>
</head>
<body>

<h2>Add Medicine</h2>

<form method="POST">
    {% csrf_token %}

    <label>Medicine Name:</label><br>
    <input type="text" name="medicine_name"><br><br>

    <label>Potency:</label><br>
    <input type="text" name="potency"><br><br>

    <label>Cost Price:</label><br>
    <input type="text" name="cost_price"><br><br>

    <label>Selling Price:</label><br>
    <input type="text" name="selling_price"><br><br>

    <label>Expiry Date:</label><br>
    <input type="date" name="expiry_date"><br><br>

    <button type="submit">Add Medicine</button>

</form>

</body>
</html>
{% endblock %}