<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
</head>
<body>

<h2>Add Customer</h2>

<form method="POST">
    {% csrf_token %}

    {% for field in serializer.fields %}
        <p>
            <label>{{ field|capfirst }}</label><br>
            <input type="text" name="{{ field }}" 
                   value="{{ serializer.data.field }}">
        </p>
    {% endfor %}

    <button type="submit">Save</button>
</form>

<a href="{% url 'orders:dashboard' %}">dashboard<a/>

</body>
</html>