{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
</head>
<body>
    <h1>Customers</h1>

    <a href="{% url 'customers:add_customer' %}">Add Customer</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>city</th>
            <th>Phone</th>
        </tr>
        {% for customer in object_list %}
        <tr>
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.age }}</td>
            <td>{{ customer.address}}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.phone }}</td>
            <td><a href="{% url 'customers:update_customer' customer.id %}">Update </a>
                <a href="{% url 'customers:delete_customer' customer.id %}">
                Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}