{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
</head>
<body>
    <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    <h1>Add Order</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Ordered Item</h2>
        {% render_form items_form %}
        {% render_form order_form %}
        
        <button type="submit">Add Order</button>
    </form>
</body>
</html>