<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
<h2>Customer List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Username</th>
        <th>Phone</th>
    </tr>

    {% for customer in customers %}
    <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.age }}</td>
        <td>{{ customer.user.username }}</td>
        <td>{{ customer.phone }}</td>
    </tr>
    {% empty %}
    <tr>
        <td >No customers found</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>