<a href="{% url 'dashboard' %}">Back to Dashboard</a>
<!DOCTYPE html>
<html>
<head>
    <title>Medicines</title>
</head>
<body>

<h2>Medicine List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Medicine Name</th>
        <th>Potency</th>
        <th>Cost Price</th>
        <th>Selling Price</th>
    </tr>

    {% for medicine in medicines %}
    <tr>
        <td>{{ medicine.id }}</td>
        <td>{{ medicine.medicine_name }}</td>
        <td>{{ medicine.potency }}</td>
        <td>{{ medicine.cost_price }}</td>
        <td>{{ medicine.selling_price }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>