<a href="{% url 'dashboard' %}">Back to Dashboard</a>
<h2>Order List</h2>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Medicine</th>
            <th>Quantity</th>
            <th>Selling Price</th>
            <th>Total Price</th>
        </tr>
    </thead>

    <tbody>

        {% for item in orders %}
        <tr>
            <td>{{ item.order.id }}</td>
            <td>{{ item.customer.name }}</td>
            <td>{{ item.medicine.medicine_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.selling_price }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No Orders Found</td>
        </tr>
        {% endfor %}

    </tbody>
</table>