{% extends 'base.html' %}
{% block content %}

<h2>Add Order</h2>

<form method="POST">
    {% csrf_token %}

    <p>
        <label>Customer:</label><br>
        <select name="customer">
            {% for customer in customers %}
                <option value="{{ customer.id }}">{{ customer.name }}</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Status:</label><br>
        <select name="status">
            <option value="Pending">Pending</option>
            <option value="Shipped">Shipped</option>
            <option value="Delivered">Delivered</option>
        </select>
    </p>

    <p>
        <label>Payment Status:</label><br>
        <select name="payment_status">
            <option value="Paid">Paid</option>
            <option value="Unpaid">Unpaid</option>
        </select>
    </p>

    <p>
        <label>Payment Method:</label><br>
        <select name="payment_method">
            <option value="Cash">Cash</option>
            <option value="Card">Card</option>
            <option value="Online">Online</option>
        </select>
    </p>

    <p>
        <label>Medicine:</label><br>
        <select name="medicine">
            {% for med in medicines %}
                <option value="{{ med.id }}">{{ med.medicine_name }} ({{ med.potency }})</option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Quantity:</label><br>
        <input type="number" name="quantity" min="1" value="1">
    </p>

    <button type="submit">Add Order</button>
</form>

<a href="{% url 'orders:dashboard' %}">Dashboard</a>

{% endblock %}