<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
    <h1>Orders</h1>

    <a href="{% url 'orders:add_order' %}">Add Order</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th>Payment Method</th>
            <th>actions</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customer.name }}</td>
            <td>
    {% for item in order.ordereditem_set.all %}
        {{ item.medicine.medicine_name }}<br>
    {% endfor %}
</td>
<td>
    {% for item in order.ordereditem_set.all %}
        {{ item.quantity }}<br>
    {% endfor %}
</td>
            <td>{{ order.total_amount }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.payment_status }}</td>
            <td>{{ order.payment_method }}</td>
            <td>
    {% if order.status == 'Pending' %}
        <form method="POST" action="{% url 'orders:order_shipped' order.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm">Mark as Shipped</button>
        </form>
    {% elif order.status == 'Shipped' %}
        <form method="POST" action="{% url 'orders:order_delivered' order.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-sm">Mark as Delivered</button>
        </form>
    {% endif %}
</td>
        </tr>
        {% endfor %}
    </table>
<a href="{% url 'orders:dashboard' %}">dashboard<a/>    
</body>
</html>