<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
    <h1>Orders</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Customer</th>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Profit</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th>Payment Method</th>
            <th>Actions</th>
        </tr>
        {% for order in object_list %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.customer.name }}</td>
            <td>
                {% for item in order.items.all %}
                    {{ item.medicine.name }}<br>
                {% endfor %}
            </td>
            <td>
                {% for item in order.items.all %}
                    {{ item.quantity }}<br>
                {% endfor %}
            </td>
            <td>{{ order.total_amount }}</td>
            <td>{{ order.profit_amount }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.payment_status }}</td>
            <td>{{ order.payment_method }}</td>
            <td>
                <a href="{% url 'orders:add_items' order.id %}">Add Items</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>